{% extends "layout.html" %}
{% block content %}
<div class = "w3-row-padding w3-margin-bottom">
<div class="w3-container" style="padding:20px 16px" id="about">
    <div class="about-section" style="padding: 30px 30px;">
        <h3 class="w3-center">ABOUT WORKZONE</h3>
        <p>Staying concentrated and being productive is important, especially when working from home. 
            <br>With many distractions and long workhours, it is easy to forget the most fondational needs.
            <br>WorkZone is an application which will help you turn your home office into the perfect environment for your workday, by adapting to ypur personal needs.</p>
      </div>
      <br>
      <br>
    <p class="w3-center w3-large">Key features of the application</p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
      <div class="w3-quarter">
        <i class="fa fa-eye w3-margin-bottom w3-jumbo w3-center"></i>
        <p class="w3-large">Sensors</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-gears w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Actuators</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-comments-o w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Communication</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-user w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Personalized</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
    </div>
  </div>

  </div>

  
{% endblock content %}