{% extends "layout.html" %}
{% block content %}
<!-- !PAGE CONTENT! -->
  
    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
          <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>52</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Messages</h4>
          <button onclick="getLocation()">Get coordinates</button>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-16">
          <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>99</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Views</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
          <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>23</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Shares</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>50</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Users</h4>
        </div>
      </div>
    </div>
  
    <div class="w3-panel">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-twothird">
          <h5>Feeds</h5>
          <table class="w3-table w3-striped w3-white">
            <tr>
                <td><i class="fa fa-sliders w3-text-red w3-large"></i></td>
                <td>The current screen brightness is </td>
                <td><i>15 mins</i></td>
              </tr>
            <tr>
              <td><i class="fa fa-thermometer-3 w3-text-teal w3-large"></i></td>
              <td>The current inside temperature is </td>
              <td><i>10 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-thermometer-quarter w3-text-yellow w3-large"></i></td>
              <td>The current outside temperature is </td>
              <td><i id="otemp">temp</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
              <td>New comments.</td>
              <td><i>25 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
              <td>Check transactions.</td>
              <td><i>28 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
              <td>CPU overload.</td>
              <td><i>35 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
              <td>New shares.</td>
              <td><i>39 mins</i></td>
            </tr>
          </table>
        </div>
        <div class="w3-third">
            <h5>Remember to</h5>
            <table class="w3-table w3-striped w3-white">
                <tr>
                    <td><i class="fa fa-cutlery w3-text-yellow w3-large"></i></td>
                    <td>Eat</td>
                </tr>
                <tr>
                    <td><i class="fa fa-coffee w3-text-blue w3-large"></i></td>
                    <td>Drink</td>
                </tr>
                <tr>
                    <td><i class="fa fa-clock-o w3-text-green w3-large"></i></td>
                    <td>Take breaks</td>
                </tr>
                <tr>
                    <td><i class="fa fa-bed w3-text-yellow w3-large"></i></td>
                    <td>Sleep</td>
                </tr>
                <tr>
                    <td><i class="fa fa-comments-o w3-text-green w3-large"></i></td>
                    <td>Socialize</td>
                </tr>
                <tr>
                    <td><i class="fa fa-bicycle w3-text-blue w3-large"></i></td>
                    <td>Stay active</td>
                </tr>
                <tr>
                    <td><i class="fa fa-user-secret w3-text-red w3-large"></i></td>
                    <td>Be safe</td>
                </tr>
            </table>
          </div>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>General Stats</h5>
      <p>New Visitors</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
      </div>
  
      <p>New Users</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
      </div>
  
      <p>Bounce Rate</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
      </div>
    </div>
    <hr>
  
    <div class="w3-container">
        <div id="demo">Hei</div>
      <h5>Countries</h5>
      <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr>
          <td>United States</td>
          <td>65%</td>
        </tr>
        <tr>
          <td>UK</td>
          <td>15.7%</td>
        </tr>
        <tr>
          <td>Russia</td>
          <td>5.6%</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>2.1%</td>
        </tr>
        <tr>
          <td>India</td>
          <td>1.9%</td>
        </tr>
        <tr>
          <td>France</td>
          <td>1.5%</td>
        </tr>
      </table><br>
      <button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
    </div>
    <hr>    
    <br>
    <div class="w3-container w3-dark-grey w3-padding-32">
      <div class="w3-row">
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-green">Demographic</h5>
          <p>Language</p>
          <p>Country</p>
          <p>City</p>
        </div>
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-red">System</h5>
          <p>Browser</p>
          <p>OS</p>
          <p>More</p>
        </div>
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-orange">Target</h5>
          <p>Users</p>
          <p>Active</p>
          <p>Geo</p>
          <p>Interests</p>
        </div>
      </div>

{% endblock content %}

