{% extends "layout.html" %}
{% block content %}
<!-- !PAGE CONTENT! -->
  
    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
          <div class="w3-clear"></div>
          <h4>
            {% if current_user.is_authenticated %}
            <div id="myexceeded">Have a good session</div>
            {% else %}
            Login to start session
            {% endif %} 
            </h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-16">
          <div class="w3-clear"></div>
          <h4>
            {% if current_user.is_authenticated %}
            <div id="myworkpause">You can do this!</div>
            {% else %}
            Login to start session
            {% endif %} 
          </h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-green w3-padding-16">
          <div class="w3-clear">
            {% if current_user.is_authenticated %}
            <form method="POST" action="">
                {{ dform.hidden_tag() }}
                        {% if dform.liquids.errors %}
                            {{ dform.liquids(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in dform.liquids.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ dform.liquids(class="form-control form-control col-sm-4") }}
                        {% endif %}
                        {{ dform.submit1(class="btn btn-outline-dark col-sm-8") }}
            </form>
            {% else %}
            <h4>Login to start session</h4>
            {% endif %}
        </div>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-clear">
          {% if current_user.is_authenticated %}
            <form method="POST" action="">
                {{ eform.hidden_tag() }}
                        {% if eform.food.errors %}
                            {{ eform.food(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in eform.food.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ eform.food(class="form-control form-control col-sm-3") }}
                        {% endif %}
                        {{ eform.submit2(class="btn btn-outline-dark col-sm-9") }}
            </form>
            {% else %}
            <h4>Login to start session</h4>
            {% endif %}
        </div>
    </div>
  </div>
    <div class="w3-panel">
      <div class="w3-row-padding" style="padding-top: 20px;" >
        <div class="w3-twothird w3-margin-bottom" >
          <h5>Data</h5>
          <table class="w3-table w3-striped w3-white">
            <tr>
                <td><i class="fa fa-calendar w3-text-teal w3-large"></i></td>
                <td>Today's date</td>
                <td><i><div id="mydate"></div></i></td>
              </tr>
            <tr>
                <td><i class="fa fa-clock-o w3-text-red w3-large"></i></td>
                <td>Current time</td>
                <td><i><div id="myclock"></div></i></td>
              </tr>
            <tr>
              <td><i class="fa fa-hourglass-2 w3-text-yellow w3-large"></i></td>
              <td id="mydur">Duration of current session</td>
              <td>
                {% if current_user.is_authenticated %}
                <i><div id="mytimer"></div></i>
                {% else %}
                <i>Login to start session</i>
                {% endif %} 
                </td>   
            </tr>
            <tr>
              <td><i class="fa fa-thermometer-quarter w3-text-teal w3-large"></i></td>
              <td>Current outside temperature</td>
              <td><i><div class="myotemp"></div></i></td>
            </tr>
            <tr>
              <td><i class="fa fa-arrow-up w3-text-blue w3-large"></i></td>
              <td>Today's local time of sunrise</td>
              <td><i><div class="mysunrise"></div></i></td>
            </tr>
            <tr>
              <td><i class="fa fa-arrow-down w3-text-red w3-large"></i></td>
              <td>Today's local time of sunset</td>
              <td><i><div class="mysunset"></div></i></td>
            </tr>
            <tr>
              <td><i class="fa fa-street-view w3-text-teal w3-large"></i></td>
              <td>Current position</td>
              <td><i><div class="myposition"></div></i></td>
            </tr>
          </table>
        </div>
        <div class="w3-third w3-margin-bottom">
            <h5>Remember to</h5>
            <table class="w3-table w3-striped w3-white">
                <tr>
                    <td><i class="fa fa-cutlery w3-text-yellow w3-large"></i></td>
                    <td>Eat</td>
                </tr>
                <tr>
                    <td><i class="fa fa-coffee w3-text-blue w3-large"></i></td>
                    <td>Drink</td>
                </tr>
                <tr>
                    <td><i class="fa fa-clock-o w3-text-green w3-large"></i></td>
                    <td>Take breaks</td>
                </tr>
                <tr>
                    <td><i class="fa fa-bed w3-text-yellow w3-large"></i></td>
                    <td>Sleep</td>
                </tr>
                <tr>
                    <td><i class="fa fa-comments-o w3-text-green w3-large"></i></td>
                    <td>Socialize</td>
                </tr>
                <tr>
                    <td><i class="fa fa-bicycle w3-text-blue w3-large"></i></td>
                    <td>Stay active</td>
                </tr>
                <tr>
                    <td><i class="fa fa-user-secret w3-text-red w3-large"></i></td>
                    <td>Be safe</td>
                </tr>
            </table>
          </div>
      </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>Reminders</h5>
        <ul class="w3-ul w3-card w3-white">
          <li class="w3-padding-16">
            <i class="w3-left w3-margin-right fa fa-glass fa-2x fa-pull-left" style="width:35px"></i>
            <span class="w3-large">Recommended daily intake of liquids is 2 liter. {% if current_user.is_authenticated %}During this session, you have drunk <b id="myliquids"></b> liters. {%endif%}</span><br>
            <div class="w3-grey" style="width:95%; margin-left: 4%;">
            {% if current_user.is_authenticated %}
                {% if (current_user.liquids>=2) %}
                <div class="w3-container w3-center w3-padding w3-green" style="width:100%"></div>
                {% elif (current_user.liquids>=1.75) %}
                <div class="w3-container w3-center w3-padding w3-green" style="width:87%"></div>
                {% elif (current_user.liquids>=1.5) %}
                <div class="w3-container w3-center w3-padding w3-green" style="width:75%"></div>
                {% elif (current_user.liquids>=1.25) %}
                <div class="w3-container w3-center w3-padding w3-green" style="width:62%"></div>
                {% elif (current_user.liquids>=1) %}
                <div class="w3-container w3-center w3-padding w3-green" style="width:50%;"></div>
                {% elif (current_user.liquids>=0.75) %}
                <div class="w3-container w3-center w3-padding w3-green" style="width:37%"></div>
                {% elif (current_user.liquids>=0.5) %}
                <div class="w3-container w3-center w3-padding w3-green" style="width:25%"></div>
                {% elif (current_user.liquids>=0.25) %}
                <div class="w3-container w3-center w3-padding w3-green" style="width:12%"></div>
                {% else %}
                <div class="w3-container w3-center w3-padding" style="width: 0%;"></div>
                {% endif %} 
            {% endif %}
              </div>
          </li>
          <li class="w3-padding-16 w3-margin-bottom">
            <i class="w3-left w3-margin-right fa fa-cutlery fa-2x fa-pull-left" style="width:35px"></i>
            <span class="w3-large">Food gives us energy, and helps us stay concentrated. {% if current_user.is_authenticated %}During this session, you have eaten <b>{{ current_user.food }}</b> times. {%endif%}</span><br>
            <div class="w3-grey" style="width:95%; margin-left: 4%;">
            {% if current_user.is_authenticated %}
                {% if (current_user.food>=2) %}
                <div class="w3-container w3-center w3-padding w3-orange" style="width:100%"></div>
                {% elif (current_user.food>=1) %}
                <div class="w3-container w3-center w3-padding w3-orange" style="width:50%;"></div>
                {% else %}
                <div class="w3-container w3-center w3-padding" style="width:0%"></div>
                {% endif %} 
            {% endif %}
              </div>
          </li>
        </ul>
    </div>
    <hr>
  
    <div class="w3-container w3-half">
      <h5>Regulations</h5>
      <table class="w3-table w3-bordered w3-border w3-white w3-card">
        <tr>
          <td>Inside temperature</td>
          <td><i class="myintemp"></i></td>
        </tr>
        <tr>
          <td>Room brightness</td>
          <td><i>{% if current_user.is_authenticated %}TBA{% endif %}</i></td>
        </tr>
        <tr>
          <td>Screen brightness</td>
          <td><i>{% if current_user.is_authenticated %}TBA{% endif %}</i></td>
        </tr>
        <tr>
          <td>Air quality</td>
          <td><i>{% if current_user.is_authenticated %}TBA{% endif %}</i></td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td><i>{% if current_user.is_authenticated %}TBA{% endif %}</i></td>
        </tr>
        <tr>
          <td>Body posture</td>
          <td><i>{% if current_user.is_authenticated %}TBA{% endif %}</i></td>
        </tr>
      </table>
      <br>
    </div>
    <div class="w3-container w3-half">
      <h5>Upcoming events</h5>
      <table id="output" class="w3-table w3-bordered w3-border w3-white w3-card">
        <div id="authorize-div" style="display: none">
            <span>Authorize access to Google Calendar API </span>
            <!--Button for the user to click to initiate auth sequence -->
            <button id="authorize-button" onclick="handleAuthClick(event)">Authorize</button>
          </div>

    </table>
    </div>
    <br> 
</div>


{% endblock content %}

