<html>
<title>WorkZone</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/w3schools.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/todo.css">
<link rel="stylesheet" href="../static/css/about.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>


<body class="w3-light-grey">
  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-right">
      {% if current_user.is_authenticated %}
      <a class="nav-item nav-link" href="{{ url_for('logout') }}" style="color:white; font-size: 16px;"><b>Logout</b></a>
      {% else %}
        <a class="nav-item nav-link" href="{{ url_for('login') }}" style="color:white; font-size: 16px;"><b>Login</b></a>
      {% endif %}
      </span>
  </div>

  
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s4">
        <a href="{{ url_for('home') }}" class="w3-circle w3-margin-right"><i class="fa fa-laptop w3-hover-text-black" style="font-size:60px; color:teal;"></i></a>
      </div>
      <div class="w3-col s8 w3-bar">
          <span>This is the <strong>WorkZone</strong></span><br>
        <a href="{{ url_for('about') }}" class="w3-bar-item w3-button"><i class="fa fa-info-circle"></i></a>
        <a href="{{ url_for('profile') }}" class="w3-bar-item w3-button"><i class="fa fa-user-circle"></i></a>
        <a href="{{ url_for('todolist') }}" class="w3-bar-item w3-button"><i class="fa fa-check-circle"></i></a>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>Navigation</h5>
    </div>
   
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw"></i>  Home</a>
      <a href="{{ url_for('profile') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw"></i>  Profile</a>
      <a href="{{ url_for('about') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bookmark fa-fw"></i>  About</a>
      <a href="{{ url_for('todolist') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-check-square fa-fw"></i>  To-Do list</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  News</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
    </div>
  </nav>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <br>
      {% if current_user.is_authenticated %}
        <h4 class="account-heading"><i class="fa fa-user"></i>  Hi, <strong>{{ current_user.username }}</strong></h4>
        {% else %}
        <h4 class="account-heading"><i class="fa fa-user"></i>  Welcome to this application</h4>
        {% endif %}
      
    </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock content %}

  

 <!-- Footer -->
 <footer class="w3-container w3-padding-16 w3-light-grey">
</footer>

<!-- End page content -->
</div>
<script src="../static/js/clock.js"></script> 
<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
if (mySidebar.style.display === 'block') {
  mySidebar.style.display = 'none';
  overlayBg.style.display = "none";
} else {
  mySidebar.style.display = 'block';
  overlayBg.style.display = "block";
}
}

// Close the sidebar with the close button
function w3_close() {
mySidebar.style.display = "none";
overlayBg.style.display = "none";
}

window.onload = getLocation();
window.onload = getTodaysDate();

function getTodaysDate() {
  date = new Date().toLocaleDateString();
  var x = document.getElementById("mydate");
  x.innerHTML = date;
}

function playAirhorn() {
  var audio = new Audio('../static/Air Horn-SoundBible.com-964603082.mp3');
  audio.play();
}

function playBell() {
  var audio = new Audio('../static/Japanese Temple Bell Small-SoundBible.com-113624364.mp3');
  audio.play();
}

  jQuery.htmlPrefilter = function( html ) {
    return html;
  };

  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
      }

  function showPosition(position) {
      var url = "https://api.openweathermap.org/data/2.5/weather?lat=" + position.coords.latitude + "&lon="+ position.coords.longitude+"&appid=07a969fe12142afe0c9514ad65549627";
      
      $.getJSON(url, function(data) {
          var temp = (data.main.temp-273.15).toFixed(1);;
          var sunrise = new Date(data.sys.sunrise * 1000).toLocaleTimeString();
          var sunset = new Date(data.sys.sunset * 1000).toLocaleTimeString();
          var time = new Date(data.dt * 1000);
          var text1 = `${temp} &#8451`
          var text2 = `${data.name}`
          var text3 = `${sunrise}`
          var text4 = `${sunset}`                     
          $(".myotemp").html(text1);
          $(".myposition").html(text2);
          $(".mysunrise").html(text3);
          $(".mysunset").html(text4);
          
          //Temperature regulations
          var current_user_temp = parseFloat("{{ current_user.temp }}");
          var text = ``;
          var temp_diff = (Math.abs(current_user_temp-temp)).toFixed(1);
          if (temp < current_user_temp) {
            text = `Turn the heat up <small>(with ${temp_diff} &#8451)</small>`;
          } else if (temp > current_user_temp) {
            text = `Turn the heat down <small>(with ${temp_diff} &#8451)</small>`;
          } else if (temp == current_user_temp){
            text = `Ideal`;
          }
          $(".myintemp").html(text);
      });
    }
 
</script>
<script type="text/javascript">
  var current_user_logintime = "{{ current_user.login_time }}";
  var current_user_hours = "{{ current_user.hours }}";
  var current_user_work = "{{ current_user.work_minutes }}";
  var current_user_pause = "{{ current_user.pause_minutes }}";

  //Round liquids to one decimal
  var liquids = "{{ current_user.liquids }}";
  var current_user_liquids = parseFloat(liquids).toFixed(1);
  document.getElementById("myliquids").innerHTML = current_user_liquids;
</script>

<script type="text/javascript">
  //Google Calendar API
  var CLIENT_ID = '73475530692-a1bpl5t70dpg7k2krcsd27l2c3ggq8ev.apps.googleusercontent.com';
  var SCOPES = ["https://www.googleapis.com/auth/calendar.readonly"];

  /**Check if current user has authorized this application.*/
  function checkAuth() {
    gapi.auth.authorize(
      {
        'client_id': CLIENT_ID,
        'scope': SCOPES,
        'immediate': true
      }, handleAuthResult);
  }

  function handleAuthResult(authResult) {
    var authorizeDiv = document.getElementById('authorize-div');
    if (authResult && !authResult.error) {
      authorizeDiv.style.display = 'none';
      loadCalendarApi();
    } else {
      authorizeDiv.style.display = 'inline';
    }
  }

  function handleAuthClick(event) {
    gapi.auth.authorize(
      {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
      handleAuthResult);
    return false;
  }

  function loadCalendarApi() {
    gapi.client.load('calendar', 'v3', listUpcomingEvents);
  }

  //Print the summary and start datetime/date of the next events in the authorized user's calendar
  function listUpcomingEvents() {
    var request = gapi.client.calendar.events.list({
      'calendarId': 'primary', /* Can be 'primary' or a given calendarid */
      'timeMin': (new Date()).toISOString(),
      'showDeleted': false,
      'singleEvents': true,
      'maxResults': 6,
      'orderBy': 'startTime'
    });

    request.execute(function(resp) {
      var events = resp.items;
      if (events.length > 0) {
        for (i = 0; i < events.length; i++) {
          var event = events[i];
          var when = event.start.dateTime;
          if (!when) {
            when = event.start.date;
          }
          appendPre(event.summary, when)
        }
      } else {
        appendPre('No upcoming events found.');
      }

    });
  }
  //Append a pre element to the body containing the given message as its text node.
  function appendPre(message, when) {
    var timedate = when.split("T");
    var date = timedate[0];
    var time = timedate[1];
    if (time) {
        time = time.split("+")[0];
    } else {
        time = "All Day";
    }
    var node = document.createElement("TR");
    var node1 = document.createElement("TD");
    var node2 = document.createElement("TD");
    var pre = document.getElementById('output');
    var textContent1 = document.createTextNode(message);
    var textContent2 = document.createTextNode(date + ' - ' + time);
    node1.appendChild(textContent1);
    node2.appendChild(textContent2);
    node.appendChild(node1);
    node.appendChild(node2);
    pre.appendChild(node);
  }
</script>
<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>  


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

